In [3]:
%matplotlib inline
from pylab import *
import pandas as pd

In [4]:
crime = pd.read_csv('data/Crime_Map.csv')
crime.head()

,﻿RMS CDW ID,General Offense Number,Offense Code,Offense Code Extension,Offense Type,Summary Offense Code,Summarized Offense Description,Date Reported,Occurred Date or Date Range Start,Occurred Date Range End,Hundred Block Location,District/Sector,Zone/Beat,Census Tract 2000,Longitude,Latitude,Location
0,464632,2015177936,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,05/29/2015,05/29/2015,NaN,88XX BLOCK OF 30 AV SW,F,F2,11402.1035,-122.371275,47.523761,"(47.523761274, -122.371274546)"
1,464545,2015177683,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,05/29/2015,05/29/2015,NaN,21XX BLOCK OF N 122 ST,N,N2,600.4000,-122.332545,47.717113,"(47.717113125, -122.332545146)"
2,464630,2015177690,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,05/29/2015,05/29/2015,NaN,57XX BLOCK OF RENTON AV S,R,R3,10300.3007,-122.284951,47.550848,"(47.550848375, -122.284950832)"
3,464640,2015177735,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,05/29/2015,05/29/2015,05/29/2015,5XX BLOCK OF N 81 ST,J,J3,2800.4013,-122.351254,47.687664,"(47.68766356, -122.35125396)"
4,464597,2015177663,2202,0,BURGLARY-FORCE-RES,2200,BURGLARY,05/29/2015,05/29/2015,05/29/2015,1XX BLOCK OF NW 76 ST,J,J2,2900.2006,-122.359314,47.684011,"(47.684010507, -122.359314231)"

In [6]:
column = 'Offense Type'
df = crime.copy()
grid_size = 100
grid = ["Latitude", "Longitude"]

for gi in grid:
    df[gi] =(df[gi]*grid_size).astype('int')

output = df.groupby(grid)[column].value_counts().unstack().fillna(0).reset_index()
output.head()

,Latitude,Longitude,BURGLARY-FORCE-NONRES,BURGLARY-FORCE-RES,BURGLARY-NOFORCE-NONRES,BURGLARY-NOFORCE-RES,BURGLARY-OTHER,BURGLARY-SECURE PARKING-NONRES,BURGLARY-SECURE PARKING-RES,BURGLARY-SECURED PKNG CARPROWL
0,0,0,117,119,52,125,0,8,45,0
1,4680,-12739,120,117,30,84,0,1,16,0
2,4746,-12231,3,1,0,0,0,0,0,0
3,4747,-12226,0,1,0,0,0,0,0,0
4,4749,-12237,0,11,0,1,0,0,0,0